<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
    <title>tz</title>

    
    <!--STYLES_INDEX-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <!--STYLES_INDEX_END-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation"></nav>
    
    <div class="col-md-12" style="padding-top:150px;">
        <div class="panel panel-default col-md-4 center-block vcenter" style="float:none;">
          <div class="panel-body">
            <form action="javascript:;" ng-controller="mainCtrl" ng-submit="exchange()">

                <div class="alert alert-danger" role="alert" ng-if="error">{{error}}</div>
                
                <div class="form-group">
                    <label class="col-md-12">Сумма
                        <input type="number" min="0.01" step="0.01" class="form-control" ng-model="num"></select>
                    </label>
                </div>
                <div class="form-group">
                    <div class="pull-left col-md-3">
                        <label class="">меняем
                            <select ng-model="from" ng-options="opt as opt for opt in currency" class="form-control  col-md-8"></select>
                        </label>
                    </div>
                    <div class="pull-left col-md-3">
                        <label class="">на
                            <select ng-model="to" ng-options="opt as opt for opt in getToArr()" class="form-control pull-right"></select>
                        </label>
                    </div>    
                </div>

                
                <div class="form-group col-md-12" ng-if="result">
                    <p class="help-block bg-success">курс: {{rate}}; сумма: {{result}}</p>
                </div>

              <div class="form-group col-md-12 col-offset">
                <button ng-if="hasCanExchange()" type="submit" class="btn btn-default">Отправить</button>    
              </div>
              
            </form>
          </div>
        </div>    
    </div>

    

    <!--SCRIPTS_INDEX-->
    <script src="app/compile.js"></script>
    <!--SCRIPTS_INDEX_END-->

</body>

</html>
